<!DOCTYPE html>
<html>
  <head>
    <title>Reddit Joke Book</title>
      <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	

<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
  	<% if notice %>
		    <p class="alert alert-success"><%= notice %></p>
		<% end %>

		<% if alert %>
		    <p class="alert alert-danger"><%= alert %></p>
	<% end %>
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/jokes">JokeBook</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href=""/jokes/random"">New</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">More <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#A1">Write a Joke</a></li>
            <li class="divider"></li>
          </ul>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
      		<% if user_signed_in? %>
			<li>Logged in as <strong><%= current_user.email %></strong></li>
        
        	<li class="dropdown">
          	<a href="#" class="dropdown-toggle" data-toggle="dropdown">Settings <span class="caret"></span></a>
          	<ul class="dropdown-menu" role="menu">
            <li><%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %></li>
            <li><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></li>
        	<% else %>
            <li class="divider"></li>
            <li><%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %></li>
            <li class="divider"></li>
            <li><%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %></li>
            <% end %>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
    <%= yield %>
  </div><!-- /.container-fluid -->
</nav>






  	<div id="main-container" class="container-fluid">
	  	<% if notice %>
		    <p class="alert alert-success"><%= notice %></p>
		<% end %>

		<% if alert %>
		    <p class="alert alert-danger"><%= alert %></p>
		<% end %>

		<p class="navbar-text pull-right">
			<% if user_signed_in? %>
			    Logged in as <strong><%= current_user.email %></strong>.
			    <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
			    <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
			    <% else %>
			      	<%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
			      	<%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
		    <% end %>
	    </p>

	    <ul class="nav pull-left">
		  <li class="active"><a href="/jokes">JokeBook</a></li>
		  <li class="active"><a href="/jokes/random">New</a></li>
		</ul>

	    <%= yield %>
	</div>
  </body>
  
</html>
