<br><br><br><br>
<h1>Knock Knock Jokes</h1>

<%= link_to 'Get me a joke!', :controller => :jokes, :action => :get_rand %> <br><br>

<% @jokes.each do |joke| %>
  <span>
    <%= joke['author'] %> - 
    <i><%= joke['body'] %></i>
  </span><br>
  <%= link_to 'Delete Joke', joke, method: :delete %><br>
  <%= link_to 'View Joke', joke, method: :get %><br>

  <hr>
<% end %>

<h4 id="A1">Write Your Own!</h4>
<%= form_for :joke, method: 'post', url: {action: 'create'} do |f| %>
  <%= label(:joke,:author) %>
  <%= f.text_field :author %><br>
  <%= label(:joke,:body) %>
  <%= f.text_field :body %><br>
  <%= f.submit "Save this joke..." %>
<% end %>

<br><br>
